.container {
    font-family: cursive;
    max-width: 1320px;
    margin: auto;
    background-color:white;
    padding: 20px;
  }
  
  nav {
    background-color: #333;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar li {
    margin: 0 10px;
  }
  
  .navbar a {
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #555;
    color: yellow;
  }

  .footer{
    text-align: center;
    margin-top: 50px;
  }

  /* Below - index.html */

  .slider {
    max-width: 1320px;
    height: 500px;
    overflow: hidden;
    position: relative;
  }

  .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  /* Below - galllery.html */

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 20px;
  }

  .gallery a {
    display: block;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }

  .gallery a:hover {
    transform: scale(1.03);
  }

  .gallery img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    display: block;
  }